---
import { Image } from "astro:assets";
import Base from "../layouts/Base.astro";
import Footer from "../layouts/Footer.astro";
import Hero from "../layouts/Hero.astro";
import avatar from "../images/avatar.png";
import UsedTech from "../components/UsedTech.astro";
import Certifications from "../components/Certifications.astro";
import Portfolio from "../components/Portfolio.astro";
---

<Base>
  <Hero slot="hero" />

  <main id="main-content" class="base-padding lock-width mt-28">
    <article class="mb-28">
      <h1
        aria-label="Who is Muhammad Nur Hidayat?"
        class="font-semibold text-2xl text-center mb-8 lg:text-3xl lg:mb-10 xl:text-4xl xl:mb-12"
      >
        About Me
      </h1>

      <div class="lg:grid lg:grid-cols-2 lg:place-items-center">
        <Image
          src={avatar}
          alt=""
          class="w-52 mx-auto mb-8 lg:order-2 lg:mx-0 lg:w-60 xl:w-64"
        />

        <div class="lg:order-1 lg:max-w-lg">
          <p class="mb-4">
            Hello, I'm
            <a
              href="https://www.linkedin.com/in/mdayat/"
              target="_blank"
              rel="noopener"
              class="text-primary font-semibold"
            >
              Muhammad Nur Hidayat</a
            >, a self-taught Software Engineer who specializes in <strong>
              Web Development</strong
            >, with a particular focus on security, SEO, and ensuring a good
            user experience. I have six months of experience in <strong>
              Front-End Web Development</strong
            >, including collaboration within teams.
          </p>

          <p>
            Currently, I am broadening my expertise in
            <strong> Back-End Development</strong>
            using the <strong>Go</strong> programming language. My interest in security
            made me commit to learning and building robust server-side solutions.
          </p>
        </div>
      </div>
    </article>

    <hr class="border-none h-1 bg-neutral" />
    <UsedTech />
    <hr class="border-none h-1 bg-neutral" />
    <Certifications />
    <Portfolio />
  </main>

  <Footer slot="footer" />
</Base>
