---
import Base from "../layouts/Base.astro";
import Footer from "../layouts/Footer.astro";
---

<Base title="Muhammad Nur Hidayat" description="Whatever">
  <main>
    <h1>My Name is Muhammad Nur Hidayat</h1>
  </main>

  <Footer slot="footer" />
</Base>
