<script>
  const mainEl = document.getElementById("main-content") as HTMLElement;
  const btnScrollTop = document.getElementById(
    "scrollToTop",
  ) as HTMLButtonElement;

  const observerCallback = (
    entries: IntersectionObserverEntry[],
    observer: IntersectionObserver,
  ) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        btnScrollTop.removeAttribute("aria-hidden");
        btnScrollTop.classList.remove("invisible");
        btnScrollTop.classList.add("animate__animated", "animate__fadeInUp");

        btnScrollTop.addEventListener("click", () => {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        });

        observer.unobserve(mainEl);
      }
    });
  };

  const observer = new IntersectionObserver(observerCallback, {
    threshold: 0,
  });
  observer.observe(mainEl);
</script>

<button
  aria-hidden="true"
  id="scrollToTop"
  type="button"
  class="invisible fixed bottom-4 right-4 lg:bottom-6 lg:right-6 xl:bottom-8 xl:right-8"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 512 512"
    class="fill-primary w-10"
  >
    <path
      d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM385 231c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-71-71V376c0 13.3-10.7 24-24 24s-24-10.7-24-24V193.9l-71 71c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9L239 119c9.4-9.4 24.6-9.4 33.9 0L385 231z"
    >
    </path>
  </svg>
</button>
