---
import { Image } from "astro:assets";
import frontendExpertCertificate from "../images/front-end-expert.jpg";
import bootcampCertificate from "../images/dicoding-bootcamp.jpg";
---

<section class="my-28">
  <h2
    class="font-semibold text-2xl text-center mb-12 lg:text-3xl lg:mb-16 xl:text-4xl xl:mb-20"
  >
    Training and Certifications
  </h2>

  <article class="mb-20 lg:mb-28 lg:grid lg:grid-cols-2 lg:place-items-center">
    <a
      href="https://drive.google.com/file/d/1maa-czoh1vajCa2Oou92n3KFeCWrZkOU/view?usp=drive_link"
      target="_blank"
      rel="noopener"
      class="border-8 border-primary box-border block w-72 mx-auto lg:mx-0 lg:w-80 xl:w-96 mb-6 lg:mb-0"
    >
      <Image
        src={bootcampCertificate}
        alt="Sertifikasi Dicoding Bootcamp"
        class="bg-base-300 text-base-content w-full h-full object-cover object-center"
      />
    </a>

    <div class="lg:max-w-lg">
      <p class="mb-4">
        <a
          href="https://www.dicoding.com/bangun-negeri/bootcamp"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding Bootcamp
        </a>
        is a training program held by
        <a
          href="https://www.dicoding.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding</a
        >. This training was carried out for approximately 5 months. I graduated
        as one of the best graduates in this program.
      </p>

      <p>
        This program closes with a capstone project, participants will work in
        groups and develop solutions to the case studies provided, ranging from
        problems that occur in society to industry.
      </p>
    </div>
  </article>

  <article class="lg:grid lg:grid-cols-2 lg:place-items-center">
    <a
      href="https://www.dicoding.com/certificates/6RPN4NQR8X2M"
      target="_blank"
      rel="noopener"
      class="border-8 border-primary box-border block w-72 mx-auto lg:mx-0 lg:order-2 lg:w-80 xl:w-96 mb-6 lg:mb-0"
    >
      <Image
        src={frontendExpertCertificate}
        alt="Sertifikasi Front-End Web Developer Expert"
        class="bg-base-300 text-base-content w-full h-full object-cover object-center"
      />
    </a>

    <div class="lg:order-1 lg:max-w-lg">
      <p class="mb-4">
        <a
          href="https://www.dicoding.com/academies/219"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          "Menjadi Front-End Web Developer Expert"
        </a> is a course offered by
        <a
          href="https://www.dicoding.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding
        </a> that teaches how to create websites in accordance with industry standards,
        emphasizing aspects such as responsiveness, accessibility, security, performance,
        and robustness.
      </p>

      <p>
        This certification marks the final stage of one of Dicoding's learning
        paths: becoming a
        <a
          href="https://www.dicoding.com/learningpaths/22"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Front-End Web Developer</a
        >.
      </p>

      <a
        href="https://github.com/mdayat/golek-mangan"
        target="_blank"
        rel="noopener"
        class="bg-primary text-primary-content font-semibold flex justify-between items-center gap-x-2 w-fit rounded-badge py-2 px-3 mt-6 mx-auto lg:px-4"
      >
        Repository
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="fill-primary-content w-4"
        >
          <path
            d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
          >
          </path>
        </svg>
      </a>
    </div>
  </article>
</section>
