---
import { Image } from "astro:assets";
import frontendExpertCertificate from "../images/certification/front-end-expert.jpg";
import bootcampCertificate from "../images/certification/dicoding-bootcamp.jpg";
import ArrowUpRight from "./icons/ArrowUpRight.astro";
---

<section class="my-28">
  <h2
    class="font-semibold text-2xl text-center mb-12 lg:text-3xl lg:mb-16 xl:text-4xl xl:mb-20"
  >
    Training and Certifications
  </h2>

  <article class="mb-20 lg:mb-28 lg:grid lg:grid-cols-2 lg:place-items-center">
    <a
      href="https://drive.google.com/file/d/1maa-czoh1vajCa2Oou92n3KFeCWrZkOU/view?usp=drive_link"
      target="_blank"
      rel="noopener"
      class="border-8 border-primary box-border block w-72 mx-auto lg:mx-0 lg:w-80 xl:w-96 mb-6 lg:mb-0"
    >
      <Image
        src={bootcampCertificate}
        alt="Dicoding Bootcamp 2023 Certification"
        class="bg-base-300 text-base-content w-full h-full object-cover object-center"
      />
    </a>

    <div class="lg:max-w-lg">
      <p class="mb-4">
        <a
          href="https://www.dicoding.com/bangun-negeri/bootcamp"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding Bootcamp
        </a>
        is a training program held by
        <a
          href="https://www.dicoding.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding</a
        >. This training was carried out for approximately 5 months. I graduated
        as one of the best graduates in this program.
      </p>

      <p>
        This program closes with a capstone project, participants will work in
        groups and develop solutions to the case studies provided, ranging from
        problems that occur in society to industry.
      </p>
    </div>
  </article>

  <article class="lg:grid lg:grid-cols-2 lg:place-items-center">
    <a
      href="https://www.dicoding.com/certificates/6RPN4NQR8X2M"
      target="_blank"
      rel="noopener"
      class="border-8 border-primary box-border block w-72 mx-auto lg:mx-0 lg:order-2 lg:w-80 xl:w-96 mb-6 lg:mb-0"
    >
      <Image
        src={frontendExpertCertificate}
        alt="Front-End Web Developer Expert Certification"
        class="bg-base-300 text-base-content w-full h-full object-cover object-center"
      />
    </a>

    <div class="lg:order-1 lg:max-w-lg">
      <p class="mb-4">
        <a
          href="https://www.dicoding.com/academies/219"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          "Menjadi Front-End Web Developer Expert"
        </a> is a course offered by
        <a
          href="https://www.dicoding.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Dicoding
        </a> that teaches how to create websites in accordance with industry standards,
        emphasizing aspects such as responsiveness, accessibility, security, performance,
        and robustness.
      </p>

      <p>
        This certification marks the final stage of one of Dicoding's learning
        paths: becoming a
        <a
          href="https://www.dicoding.com/learningpaths/22"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Front-End Web Developer</a
        >.
      </p>

      <a
        href="https://github.com/mdayat/golek-mangan"
        target="_blank"
        rel="noopener"
        class="btn btn-primary rounded-badge mt-6"
      >
        Repository
        <ArrowUpRight />
      </a>
    </div>
  </article>
</section>
