---
import { Image } from "astro:assets";
import troisPetCare from "../images/portfolio/troispetcare.jpg";
---

<section class="my-28">
  <h2
    class="font-semibold text-2xl text-center mb-12 lg:text-3xl lg:mb-16 xl:text-4xl xl:mb-20"
  >
    Portfolio
  </h2>

  <article class="bg-neutral max-w-sm rounded-lg mx-auto p-6">
    <Image
      src={troisPetCare}
      alt="Halaman Utama Trois Pet Care"
      class="rounded-lg mb-6"
    />

    <div>
      <h3 class="font-bold text-2xl mb-4">Trois Pet Care</h3>

      <p class="mb-3">
        Trois Pet Care is a veterinary clinic and pet shop that provides
        services, such as veterinary practice, grooming, and animal needs.
      </p>

      <p>
        This project was created using
        <a
          href="https://kit.svelte.dev/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          svelte.kit
        </a> and integrated with
        <a
          href="https://developers.notion.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Notion API
        </a> which serves as a Content Management System (blog).
      </p>

      <a
        href="https://www.troispetcare.com/"
        target="_blank"
        rel="noopener"
        class="btn btn-primary btn-wide rounded-badge flex mx-auto mt-8"
      >
        Visit
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
          class="fill-primary-content w-4"
        >
          <path
            d="M352 0c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9L370.7 96 201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L416 141.3l41.4 41.4c9.2 9.2 22.9 11.9 34.9 6.9s19.8-16.6 19.8-29.6V32c0-17.7-14.3-32-32-32H352zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"
          >
          </path>
        </svg>
      </a>
    </div>
  </article>
</section>
