---
import { Image } from "astro:assets";
import komunal from "../images/portfolio/komunal.png";
import troisPetCare from "../images/portfolio/troispetcare.jpg";
import vipEngineering from "../images/portfolio/vipengineering.jpg";
import golekMangan from "../images/portfolio/golekmangan.jpg";
---

<section class="my-28 flex flex-wrap justify-center gap-8">
  <h2
    class="basis-full font-semibold text-2xl text-center mb-12 lg:text-3xl lg:mb-16 xl:text-4xl xl:mb-20"
  >
    My Portfolios
  </h2>

  <article class="bg-neutral max-w-sm max-h-[512px] rounded-xl overflow-hidden">
    <a href="https://komunal-tau.vercel.app/" target="_blank" rel="noopener">
      <Image src={komunal} alt="Komunal (Komunikasi Massal)" />
    </a>

    <div class="m-6">
      <h3 class="font-bold text-xl mb-3">Komunal</h3>

      <p class="mb-2">
        Komunal (Komunikasi Massal) is a discussion forum app that is also a
        final project of <a
          href="https://www.dicoding.com/academies/418"
          target="_blank"
          rel="noopener"
          class="text-primary font-semibold"
        >
          Menjadi React Web Developer Expert
        </a> course.
      </p>

      <p>
        This project was created using
        <a
          href="https://nextjs.org/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Next.js</a
        >,
        <a
          href="https://redux.js.org/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Redux</a
        >,
        <a
          href="https://mui.com/material-ui/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Material UI</a
        >, and
        <a
          href="https://storybook.js.org/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Storybook</a
        >.
      </p>
    </div>
  </article>

  <article class="bg-neutral max-w-sm max-h-[512px] rounded-xl overflow-hidden">
    <a href="https://www.troispetcare.com/" target="_blank" rel="noopener">
      <Image src={troisPetCare} alt="Halaman Utama Trois Pet Care" />
    </a>

    <div class="m-6">
      <h3 class="font-bold text-xl mb-3">Trois Pet Care</h3>

      <p class="mb-2">
        Trois Pet Care is a veterinary clinic and pet shop that provides
        services, such as veterinary practice, and grooming.
      </p>

      <p>
        This project was created using
        <a
          href="https://kit.svelte.dev/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          svelte.kit
        </a> and integrated with
        <a
          href="https://developers.notion.com/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          Notion API</a
        >, which serves as a CMS (blog).
      </p>
    </div>
  </article>

  <article class="bg-neutral max-w-sm max-h-[512px] rounded-xl overflow-hidden">
    <a href="https://golek-mangan.vercel.app/" target="_blank" rel="noopener">
      <Image src={golekMangan} alt="Halaman Utama Golek Mangan" />
    </a>

    <div class="m-6">
      <h3 class="font-bold text-xl mb-3">Golek Mangan</h3>

      <p class="mb-2">
        This was one of my projects when i was in Dicoding Bootcamp created
        using plain HTML, CSS, and JS without any front-end framework.
      </p>

      <p>
        Additionally, this app utilizes
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/Progressive_web_apps"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          PWA
        </a>
        to give a mobile-app-like experience with the help of
        <a
          href="https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          IndexedDB</a
        >.
      </p>
    </div>
  </article>

  <article class="bg-neutral max-w-sm max-h-[512px] rounded-xl overflow-hidden">
    <a href="https://vipengineering.co.id/" target="_blank" rel="noopener">
      <Image src={vipEngineering} alt="Halaman Utama VIP Engineering" />
    </a>

    <div class="m-6">
      <h3 class="font-bold text-xl mb-3">VIP Engineering</h3>

      <p class="mb-2">
        VIPEngineering is a service provider that provides technical services
        related to chemical processes, energy, water treatment, wastewater
        treatment, and process equipment.
      </p>

      <p>
        This project was created using
        <a
          href="https://nextjs.org/"
          target="_blank"
          rel="noopener"
          class="text-primary font-bold"
        >
          next.js</a
        >.
      </p>
    </div>
  </article>
</section>
