<script>
  import Typed from "typed.js";

  new Typed("#typewriter", {
    strings: ["Sugeng Rawuh", "Selamat Datang", "Welcome"],
    typeSpeed: 75,
    backSpeed: 25,
    backDelay: 1500,
    showCursor: false,
    loop: true,
  });
</script>

<span id="typewriter" class="text-primary font-pacifico tracking-wider"></span>
