---
import { Image } from "astro:assets";
import nodejs from "../images/nodejs.png";
import react from "../images/react.png";
import Tailwind from "./icons/Tailwind.astro";
import TypeScript from "./icons/TypeScript.astro";
import Svelte from "./icons/Svelte.astro";
import Prisma from "./icons/Prisma.astro";
---

<script>
  if (window.innerWidth < 1024) {
    const UListEl = document.getElementById("used-tech") as HTMLUListElement;
    const observerCallback = (
      entries: IntersectionObserverEntry[],
      observer: IntersectionObserver,
    ) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const LiEl = entry.target as HTMLLIElement;
          LiEl.classList.remove("opacity-0");
          LiEl.classList.add("animate__animated", "animate__fadeInUp");
          observer.unobserve(LiEl);
        }
      });
    };

    const observer = new IntersectionObserver(observerCallback, {
      threshold: 0,
    });

    for (let i = 0; i < UListEl.children.length; i++) {
      const LiEl = UListEl.children[i] as HTMLLIElement;
      observer.observe(LiEl);
    }
  }
</script>

<article class="my-28">
  <h2
    class="font-semibold text-2xl text-center mb-8 lg:text-3xl lg:mb-10 xl:text-4xl xl:mb-12"
  >
    Technologies That I Use
  </h2>

  <ul
    id="used-tech"
    class="flex flex-col gap-y-8 justify-between items-center lg:flex-row"
  >
    <li class="opacity-0">
      <a
        aria-label="Svelte"
        href="https://svelte.dev/"
        target="_blank"
        rel="noopener"
      >
        <Svelte />
      </a>
    </li>

    <li class="opacity-0">
      <a
        aria-label="Tailwind CSS"
        href="https://tailwindcss.com/"
        target="_blank"
        rel="noopener"
      >
        <Tailwind />
      </a>
    </li>

    <li class="opacity-0">
      <a
        aria-label="TypeScript"
        href="https://www.typescriptlang.org/"
        target="_blank"
        rel="noopener"
      >
        <TypeScript />
      </a>
    </li>

    <li class="opacity-0">
      <a
        aria-label="Node JS"
        href="https://nodejs.org/en"
        target="_blank"
        rel="noopener"
      >
        <Image src={nodejs} alt="" class="w-24" />
      </a>
    </li>

    <li class="opacity-0">
      <a
        aria-label="React"
        href="https://react.dev/"
        target="_blank"
        rel="noopener"
      >
        <Image src={react} alt="" class="w-11" />
      </a>
    </li>

    <li class="opacity-0">
      <a
        aria-label="Prisma ORM"
        href="https://www.prisma.io/"
        target="_blank"
        rel="noopener"
      >
        <Prisma />
      </a>
    </li>
  </ul>
</article>
