---
import "animate.css";
import BtnScrollTop from "../components/BtnScrollTop.astro";
---

<!doctype html>
<html lang="en" data-theme="dark" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="Content-Security-Policy"
      content="default-src 'none'; script-src 'self'; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com; connect-src 'self'; img-src 'self' https://res.cloudinary.com; base-uri 'self'; form-action 'self'; font-src 'self' https://fonts.gstatic.com"
    />

    <meta name="author" content="Muhammad Nur Hidayat" />
    <meta
      name="description"
      content="Muhammad Nur Hidayat is a self-taught software engineer who specializes in web development, with a particular focus on security, SEO, and ensuring a good user experience"
    />
    <meta name="generator" content={Astro.generator} />

    <!-- General Open Graph -->
    <meta property="og:title" content="Who is Muhammad Nur Hidayat?" />
    <meta
      property="og:description"
      content="Muhammad Nur Hidayat is a self-taught software engineer who specializes in web development, with a particular focus on security, SEO, and ensuring a good user experience"
    />
    <meta
      property="og:url"
      content="https://personal-website-mdayat.vercel.app/"
    />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/dtvd4w0lz/image/upload/f_auto,q_auto/tpwvrqcsj4gqh4dh5bc3"
    />
    <meta property="og:image:alt" content="" />

    <!-- Twitter Open Graph -->
    <meta name="twitter:title" content="Who is Muhammad Nur Hidayat?" />
    <meta
      name="twitter:description"
      content="Muhammad Nur Hidayat is a self-taught software engineer who specializes in web development, with a particular focus on security, SEO, and ensuring a good user experience"
    />
    <meta
      name="twitter:url"
      content="https://personal-website-mdayat.vercel.app/"
    />
    <meta
      name="twitter:image:src"
      content="https://res.cloudinary.com/dtvd4w0lz/image/upload/f_auto,q_auto/tpwvrqcsj4gqh4dh5bc3"
    />
    <meta name="twitter:image:alt" content="" />

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title>Muhammad Nur Hidayat</title>
  </head>

  <body class="font-poppins">
    <slot name="hero" />
    <slot />
    <slot name="footer" />

    <BtnScrollTop />
  </body>
</html>
